.d-flex {
  flex-wrap: wrap;
}

#home {
  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $grey;
    background-color: rgba(34, 40, 49, 0.851);
    font-size: 20vw;
    padding-right: 5%;
    padding-left: 5%;
  }
  a {
    position: absolute;
    font-size: 3em;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid $grey;
    color: $grey;
    background-color: $red;
    &:hover {
      background-color: $red;
      color: $navy;
      border: 5px solid $navy;
    }
  }
  width: 100%;
  padding-top: 0.5%;
  margin: 0 auto;
  position: relative;

  .homeIMG {
    width: 20%;
  }
}
