.d-flex {
  flex-wrap: wrap;
}

#home {
  h1 {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.851);
    font-size: 20vw;
    padding-right: 5%;
    padding-left: 5%;
  }
  a {
    position: absolute;
    font-size: 3em;
    top: 80%;
    left: 42%;
    border: 3px solid white;
    &:hover {
      background-color: $red;
    }
  }
  width: 90%;
  padding-top: 0.5%;
  margin: 0 auto;
  padding-left: 10%;
  position: relative;

  .homeIMG {
    width: 20%;
  }
}
