#search-bar {
  #search-row {
    margin-top: 70px;
    margin-bottom: 12px;
  }

  #search-container {
    #text-search {
      background-color: $grey;
    }
  }
}

.dropdown {
  #dropdown-basic {
    background-color: $red;
    border: 2px solid $grey;
    &:hover {
      border: 2px solid $blue;
      color: $blue;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
    #genres-dropdown {
      background-color: $grey;
    }
    .dropdown-menu {
      height: 200px;
      overflow-y: scroll;
    }
  }
}
