#nav-bar {
  background-color: $blue;

  .navbar-brand {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 9px;
    a {
      text-decoration: none;
      color: white;
      padding-top: 2px;
    }
  }
  .nav-item {
    a {
      margin: 0 1rem;
      font-weight: bold;
      text-decoration: none;
      padding: 0.5rem 1rem;
      color: $grey;
      background-color: $red;
      border: 2px solid $grey;
      border-radius: 3px;
      &:hover {
        color: $navy;
        background-color: $red;
        border: 2px solid $navy;
      }
    }
  }
}
